<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create account for admin</h1>
    <form method="post" action="/admincreate">
        <label>Input name</label><br>
        <input type="text" name="adminname"><br>
        <label>Input email</label><br>
        <input type="email" name="adminemail"><br>
        <label>input password</label>
        <br>
        <input type="password" name="adminpassword">
        <br><br>
        <button>Login</button>
    </form>
</body>
</html>