<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login for user</h1>
    <form method="post" action="/login">
        <label>Input email</label><br>
        <input type="email" name="email"><br>
        <label>input password</label>
        <br>
        <input type="password" name="password">
        <br><br>
        <button>Login</button>
    </form>
    <a href="/create">create account</a><br>
    <a href="/adminlogin">login for admin</a>
</body>
</html>